<h6>Input component</h6>
<div class="p-2 border rounded">
	<form class="form-floating">
		<input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com" value="test@example.com">
		<label for="floatingInputInvalid">Invalid input</label>
	</form>
</div>